* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background:url(./img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height:100vh;
}
.container{
    width:100%;
    max-width:1000px;
    margin:0 auto;
    padding:2rem 1rem;
}
header{
    text-align:center;
    margin-bottom : 2rem;
}
h1{
    font-size:2.5rem;
    color:#eaedf5;
    margin-bottom:0.5rem;
}
.project-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap:1.5rem;
    justify-content:center;
}
.project-link {
    text-decoration: none; 
    color: inherit; 
    display: block;
}

.project-link:hover {
    text-decoration: none; 
}
.pro-register,
.pro-todolist,
.pro-quizgame,
.pro-password,
.pro-receipesSearch {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    cursor: pointer; 
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
   
}
.project-img{
    width:90%;
    height:220px;
    object-fit:cover;
    display:block;
     transition: transform 0.3s ease;
     margin: 12px auto 0;
     border-radius: 3px;
}
.pro-register:hover,
.pro-todolist:hover,
.pro-quizgame:hover,
.pro-password:hover,
.pro-receipesSearch:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.85); 
}
.project-name {
    text-align: center;
    padding: 20px 15px;
    font-weight: 600;
    font-size: 1.2rem;
    color: #2c3e50;
    background-color:transparent;  
    margin-top: 8px;
    border-top: 1px solid rgba(118, 118, 118, 0.1); /* 添加浅浅的横线 */
}
@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
  }

  button#search-btn {
    width: 100%;
    padding: 10px;
  }

  .meals-container {
    grid-template-columns: 1fr;
  }

  .meal-details-img {
    max-width: 100%;
  }

  
}